@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron">
    <h2>Welcome to contact Jing!</h2><br /><br />

    <strong>Phone:</strong> 312.459.2776<br />
    <strong>Email:</strong> <a href="mailto:sunjing1809@gmail.com">sunjing1809@gmail.com</a><br /><br /><br />

    @Html.ActionLink("Learn more about Jing's Experience", "GetAllExperience", "Experience", null, new { @class = "btn btn-info btn-lg", @style = "color:white" })
</div>
